<div class="completebody">

  <div class="leftdisplay">
    <h1>Saurabh</h1>
    <input type="text" placeholder="Create Your Channel" [(ngModel)]="channelinput" id="channelcreate">
    <button (click)='channel()' class="btn">+</button>
    <br/>
    <br/>

    <input type="text" placeholder="Search" id="searching">

    <br/>
    <br/> {{channelinput}}
    <div class="channelview">
      <ul *ngFor="let channels of channelArray">
        <li id="channelname" (click)="recmessage(channels)">#{{channels.unique_name}}</li>
        <button (click)="join(channels)" id="joinbutton">JOIN</button>
      </ul>
    </div>
  </div>


  <div class="rightdisplay">
    <div class="righttop">
      <button id="logoutbutton" (click)=logout()>Logout</button>
     
     <!-- <a id="icons">@&emsp;&nbsp;✰&emsp;&nbsp;⋮</a>  -->
      <ul *ngFor="let message of messageArray">
        <li>{{message.body}}</li>
      </ul>
    </div>
    <p>
      <u>Please Refresh To Send The Message Showing Below: </u>
    </p>

    {{textmessage}}

    <br/>
    <br/>

    <input type="text" placeholder="Message" id="message" [(ngModel)]="messageinput">
    <button (click)='message()' class="btn" id="messagesent">Send Message</button>
  </div>
</div>
