<div class="completebody">

  <div class="leftdisplay">
    <h1>Saurabh</h1>
    <input type="text" placeholder="Create Your Channel" [(ngModel)]="channelinput" id="channelcreate">
    <button (click)='channel()' class="btn">+</button>
    <br/>
    <br/>  {{channelinput}}
    <br/>
    <ul *ngFor="let channels of channelArray">
      <li (click)="recmessage(channels)">{{channels.unique_name}}</li><button (click)="join(channels)">JOIN</button>
    </ul>
  </div>


  <div class="rightdisplay">
    <div class="righttop">
      <input type="text" placeholder="Search" id="searching">&emsp;&nbsp;@&emsp;&nbsp;✰&emsp;&nbsp;⋮
      <ul *ngFor="let message of messageArray">
        <li >{{message.body}}</li>
      </ul>
    </div>
    <p>
      <u>Please Refresh To Send The Message Showing Below: </u>
    </p>

    {{textmessage}}

    <br/>
    <br/>

    <input type="text" placeholder="Message" id="message" [(ngModel)]="messageinput">
    <button (click)='message()' class="btn" id="messagesent">Send Message</button>
  </div>
</div>