.completebody {
  margin-top: -21px;
  margin-left: -7.6px;
}

/* colors are suggested by colorpicker.com */

.leftdisplay {
  background-color: #453446;
  width: 20%;
  height: 675px;
  overflow:scroll;
}

.rightdisplay {
  background-color: #FFFFFF;
  margin-left: 20%;
  width: 1080px;
  margin-top: -640px;
  height: 640px;
}

.righttop {
  background-color: #FFFFFF;
  margin-top: -640px;
  height: 500px;
  overflow: scroll;
}

#searching {
  margin-left: 20px;
  margin-top: 0px;
  margin-left: 12px;
  padding: 8px;
  font-size: 13px;
  border: 1px solid grey;
  background: #f1f1f1;
  
  height: 30px;
  z-index: 10;
  border-radius: 10px;
 
}

#message {
  margin-left: 25px;
  padding: 8px;
  font-size: 13px;
  border: 1px solid grey;
  background: #f1f1f1;
  width: 78%;
  height: 30px;
  z-index: 10;
  border-radius: 10px;
}

#channelcreate {
  margin-left: 12px;
  padding: 8px;
  font-size: 13px;
  border: 1px solid grey;
  background: #f1f1f1;
  
  height: 30px;
  z-index: 10;
  border-radius: 10px;
}

.button {
  margin-left: 18px;
}

#messagesent {
  padding: 8px;
  font-size: 13px;
  border: 1px solid grey;
  background: grey;
  margin-left: 20px;
  height: 35px;
  z-index: 10;
  border-radius: 10px;
}

#channelname{
  font-family: 'Times New Roman', Times, serif;
  color: white;
  
  
}

#joinbutton{
margin-left: 150px;
}

#logoutbutton{
  padding: 8px;
  font-size: 13px;
  border: 1px solid black;
  background:rgb(252, 111, 111);
  margin-left: 950px;
 
  z-index: 10;
  border-radius: 10px;
}
/* #icons{
  margin-left: 700px;
} */
/* #sendermsg{
background-color:whitesmoke;
float: right;
color: black;
word-wrap: break-word;
}
#receivermsg{
  background-color:white;
  float: left;
  color: black;
  word-wrap: break-word;
} */
.alert{
  width: 51%;
  word-wrap: break-word;
}
.alert-success{
  float: right;
}
#searchedchannel{
  margin-left: 25px;
  font-family: 'Times New Roman', Times, serif;
  color: white;


}
.receiver{
 
  background-color: #c1c4af;
  float: left; 
  overflow: hidden;
  width: 50%;
  padding: 10px;
}
.sender{
  background-color:rgb(194, 247, 194);
  float: right;
  width:50%;
  overflow: hidden;
  padding: 10px;
}